body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.header-section {
    display: flex;
    flex: auto;
    background-color: rgb(31 41 55);
    padding: 25px 125px;
    color: white;
    gap: 25px;
}

.header-logo {
    display: flex;
    flex: auto;
    justify-content: flex-start;
    font-size: 24px;
}

.header-links {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    gap: 25px;
    font-size: 18px;
}

.hero-section {
    display: flex;
    flex: auto;
    padding: 25px 125px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 30px;
}

.hero-image {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.hero-text-large {
    font-size: 48px;
    font-weight: 900;
}

.hero-text-small {
    font-size: 18px;
    color:rgb(31 41 55);
}

#hero-button {
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(22 51 96);
    color: white;
    text-decoration: none;
    border-radius: 12px;
    border: 1px transparent solid; /* transparent border */
    padding: 13px 30px;
    opacity: 0.6;
}

#hero-button:hover {
    opacity: 1;
}

#hero-button:active {
    opacity: 1;
    border: 2px black solid;
}

#hero-image {
    height: auto;
    width: 550px;
}

.cards-section {
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: rgb(212 227 250);
    justify-content: space-around;
    padding: 50px 75px 75px 75px;
}

.cards-title {
    display: flex;
    flex: auto;
    font-size: 36px;
    font-weight: 900;
    justify-content: center;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 12px 100px;
    text-align: center;
    gap: 25px;
}

.card {
    display: flex;
    flex-flow: column wrap;
    width: 250px;
    height: auto;
    gap: 15px;
}

.card-image,
.card-caption {
    height: auto;
    width: 250px;
    font-weight: 500;
    font-size: 16px;
}

.quote-section {
display: flex;
flex-direction: column;
flex: auto;
padding: 75px 175px;
background-color: white;
justify-content: center;
gap: 10px;
}

.quote {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    font-size: 36px;
    opacity: 0.7;
}

.quote-credit {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 18px;
    color:rgb(31 41 55);
}

.call-to-action-section {
    display: flex;
    flex: auto;
    background-color:rgb(22 51 96);
    margin: 75px 175px;
    padding: 50px;
    border-radius: 1em;
}

.call-to-action-text {
    display: flex;
    flex: auto;
    flex-flow: column wrap;
    color: white;
    gap: 20px;
}

.call-to-action-header {
    font-size: 28px;
    font-weight: bold;
}

.call-to-action-small {
    font-size: 16px;
}

.call-to-action-button {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

#call-to-action-button {
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(22 51 96);
    color: white;
    text-decoration: none;
    border-radius: 12px;
    border: 2px white solid;
    padding: 13px 30px;
}

#call-to-action-button:hover {
    background-color: white;
    color: rgb(22 51 96);
}

.footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    background-color: rgb(31 41 55);
    color: white;
}

.header-section a {
    text-decoration: none;
    color: white;
}